:root {
  /* Colors */
  --primary: #ff3131;
  --secondary: #ff754c;
  --text-primary: #242424;
  --text-secondary: #11142d;
  --text-dark: #131045;
  --text-light: #ffffff;
  --light-gray: #aaaaaa;
  --dark-gray: #9a9a9a;
  --modal-link: #20AFFF;
  --modal-btn-hover: #fd3434;

  /* Backgrounds */
  --bg-on-dark: #0a0c1e;
  --bg-light: #ffffff;
  --bg-soft: #edecec;
  --bg-gray: #f5f5f5;
  --bg-primary: #fbfbfb;
  --bg-dark-gray: #f5f5f5;
  /* UI Colors */
  --border-color: #e1e1e1;
  --shadow: 0px 4px 4px 0px #0000000f;
  --card-shadow: 0 4px 11px 0 #00000036;
  --modal-bg: #04040478;
  --font-family: 'Cairo', sans-serif;
  --second-family: 'Open Sans', sans-serif;
  --third-family: 'Poppins', sans-serif;
  --font3: 'Roboto', sans-serif;
  --font5: 'Inter', sans-serif;
  --font6: 'Montserrat', sans-serif;
  --font10: 'Times New Roman', sans-serif;
  --stroke: #ededed;

}
