footer {
  display: flex;
  justify-items: end;
  justify-content: end;
  justify-self: end;
  flex-direction: column;
  margin-bottom: -10px;
  margin-top: 100px;
  width: 100%;
  .footer-top {
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      align-items: center;
      gap: 30px;
      align-items: start;
      justify-content: start;
      margin-bottom: 65px;
    }
    h3 {
      font-weight: 700;
      font-size: 20px;
      color: #11142d;
      margin-bottom: 10px;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 20px;
      li {
        list-style: none;
        font-weight: 400;
        font-size: 18px;

        color: #11142d;
      }
    }
  }
  .download-links {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .footer-bottom {
    padding: 12px 0 20px;
    background-color: var(--bg-on-dark);
    color: var(--text-light);
    .container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .columns {
      display: flex;
      flex-direction: column;
      gap: 10px;
    } 
    .columns-bottom {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    .social-links {
      display: flex;
      gap: 24px;
      img {
        width: 24px;
      }
    }

  }
}
